/*font styling libraries*/
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

/*navbar bg color*/
body, nav {
    background-color:#f0f0f0;
}

/*fonts for headers and circles*/
h1, h3, .circle {
    font-family: 'Anton', sans-serif;
}

/*title circles*/
.circle {
    border-radius: 50%;
    height: 105px;
    width: 105px;
    color: #ffffff;
    border: .5em solid #ffffff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

/*small circles for selected pics*/
.smallCircle {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    margin: 0px 5px 20px 5px;
}

/*bg colors for circles*/
#design {
    background-color: #e5563a;
}
#develop {
    background-color: #eb9c3b;
}

#host {
    background-color: #00aaa9;
}

#support {
    background-color: #7bb06c;
}

/*font styling for smaller headers*/
h6 {
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
}

/*border for images*/
div > img {
    border:  solid .5em #e6e6e6;
}

/*background color for smaller circles*/
.redSmallCircle {
background-color: #e5563a;
}

.yellowSmallCircle {
    background-color: #eb9c3b;
}

.greenSmallCircle {
    background-color: #7bb06c ;
}

.blueGreenSmallCircle {
    background-color: #00aaa9;
}

/*set font for nav bar*/
.navbar-brand {
    font-family: 'Abel', sans-serif;
}

/*font styling for last words header*/
.lastWords {
font-family: Anton;
 font-size: 35px;
}

/*text sizing*/
.larText {
    font-size: 60px;
}

.midText {
    font-size: 40px;
}

/*img sizing for pictures in different views*/
.sqMan {
    width: 516px;
    height: auto;
}

@media screen and (min-width:768px) { .sqMan {
    width: 336px;
    height: 229px;
} }

@media screen and (min-width:992px) { .sqMan {
    width: 256px;
    height: 175px;
} }

@media screen and (min-width:1200px) { .sqMan {
    width: 308px;
    height: 210px;
} }

/*logo sizing for diffirent views*/
.logo{
    height: 45px;
    width: 45px;
}

@media screen and (min-width:768px) { .logo{
    height: 42px;
    width: 42px;
} }

@media screen and (min-width:992px) { .logo{
    height: 37px;
    width: 37px;
} }

/*text sizing*/
@media screen and (min-width:1200px) { .smallText {
    font-size: 13px;
} }

/*spacing for large screen*/
@media screen and (min-width:992px) { .lgScreenMarg {
    margin-bottom: 60px;
} }

/*spacing for extra large screen*/
@media screen and (min-width:1200px) { .lgScreenMarg {
    margin-bottom: 0;
} }

/*spacing between selected work and the last content*/
@media screen and (min-width:992px) { .theLastMarg {
    margin-left: 30px;
} }