@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&display=swap');

body, nav {
    background-color:#f0f0f0;
}
h1, h3, .circle {
    font-family: 'Anton', sans-serif;
}

.circle {
    border-radius: 50%;
    height: 105px;
    width: 105px;
    color: #ffffff;
    border: .5em solid #ffffff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.smallCircle {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;

}


#design {
    background-color: #e5563a;
}
#develop {
    background-color: #eb9c3b;
}

#host {
    background-color: #00aaa9;
}

#support {
    background-color: #7bb06c;
}

h6 {
     font-family: 'Abel', sans-serif;
    font-weight: bolder;
}
img {
    border:  solid .5em #e6e6e6;
}

.redSmallCircle {
background-color: #e5563a;
}

.yellowSmallCircle {
    background-color: #eb9c3b;
}

.greenSmallCircle {
    background-color: #7bb06c ;
}

.blueGreenSmallCircle {
    background-color: #00aaa9;
}
